<script setup>
import { ref, defineProps, defineEmits } from 'vue'
import Swal from 'sweetalert2'


const props = defineProps({
  modelValue: {
    type: String,
    required: true
  },
})
const emit = defineEmits(['update:modelValue'])

const password = ref(props.modelValue)
let isValid = ref({
  value: {
    length: false,
    uppercase: false,
    number: false,
    special: false,
    lowercase: false,
  }
})
let showPassword = ref(false)

const onChange = (event) => {
  password.value = event.target.value
  isValid.value = {
    length: password.value.length > 6,
    uppercase: password.value.match(/[A-Z]/),
    number: password.value.match(/[0-9]/),
    special: password.value.match(/[^a-zA-Z0-9]/),
    lowercase: password.value.match(/[a-z]/)
  }
  emit('update:modelValue',
    isValid.value.length && isValid.value.uppercase && isValid.value.number && isValid.value.special && isValid.value.lowercase ? password.value : ''
  )
}

const togglePassword = () => {
  showPassword.value = !showPassword.value
}


</script>

<template>
  <div class="input-group">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1" @click="togglePassword">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
        viewBox="0 0 16 16">
        <path
          d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
      </svg>
    </button>
    <input :type="showPassword ? 'text' : 'password'" class="border form-control"
      :class="{ 'border-success': (
        isValid.length && isValid.uppercase && isValid.number && isValid.special && isValid.lowercase
      
      ) && password.length > 0, 'border-danger': (
        !isValid.length || !isValid.uppercase || !isValid.number || !isValid.special || !isValid.lowercase
      ) && password.length > 0 }"
      v-model="password" @input="onChange" placeholder="Senha" @change="" required />

  </div>
  <ul class="list-group list-group-flush w-100 mb-2">
    <li class="list-group-item bg-transparent" :class="{
      'text-success text-decoration-line-through': isValid.length,
      'text-danger': !isValid.length
    }">Senha com mais de 6 caracteres</li>
    <li class="list-group-item bg-transparent" :class="{
      'text-success text-decoration-line-through': isValid.uppercase,
      'text-danger': !isValid.uppercase
    }">Uma ou + letras maiusculas</li>
    <li class="list-group-item bg-transparent" :class="{
      'text-success text-decoration-line-through': isValid.number,
      'text-danger': !isValid.number
    }">Um ou + numeros</li>
    <li class="list-group-item bg-transparent" :class="{
      'text-success text-decoration-line-through': isValid.special,
      'text-danger': !isValid.special
    }">Caractere especial</li>
    <li class="list-group-item bg-transparent" :class="{
      'text-success text-decoration-line-through': isValid.lowercase,
      'text-danger': !isValid.lowercase
    }">Uma ou + letras maiusculas</li>
  </ul>
</template>

<style scoped>
input[type="password"]:focus {
  outline: none;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
li{
  border: 0;
  padding: 0;
  font-size: .8rem;
}
</style>
