<script setup>
import PasswordInput from './components/ValidationInput.vue'
import { ref } from 'vue';
import Swal from "sweetalert2"
const userInfo = ref({
  email: '',
  password: ''
})

const submitForm = (event) => {
  event.preventDefault()

  //verificar se o email é valido
  if (!userInfo.value.email.includes('@')) {
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: 'Email inválido'
    })
    return
  } else if (userInfo.value.password == '') {
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: 'Senha inválida, confira se ela satisfaz os requisitos'
    })
    return
  }
  Swal.fire({
    icon: 'success',
    title: 'Sucesso',
    text: 'Usuário cadastrado com sucesso',
    timer: 2000,
    timerProgressBar: true,

  })
  setInterval(() => {

    window.location.reload()


  }, 2000);




}




</script>

<template>
  <main class="border shadow p-3 mb-5 bg-body-tertiary rounded ">
    <h1 class="text-center">Registro</h1>
    <form class="form-group needs-validation">
      <input class="form-control" type="email" v-model="userInfo.email" placeholder="Email" required />
      <PasswordInput v-model="userInfo.password" />
      <button class="btn btn-primary" type="submit" @click="submitForm">Enviar</button>
    </form>

  </main>
</template>

<style scoped>
main {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

form button {
  width: 100%;
}
</style>
